#sign-up-background {
    display: none;
    background-color: rgba(0, 0, 0, 0.702);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#sign-up {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-content: center;
}
#sign-up-container {
    width: 45rem;
    background-color: white;
    margin: auto;
    text-align: center;
    padding: 2rem 0 1rem 0;
}
@media (max-width: 480px){
    #sign-up-container {
        width: 20rem;
        padding: 1.5rem 0;
    }
    #sign-up-container h1 {
        font-size: 1.25rem !important;
    }
    #sign-up-container label {
        font-size: 1rem !important;
    }
    #sign-up-container input {
        width: 12rem;
    }
    #sign-up-container button {
        width: 5rem;
        font-size: 0.75rem;
        margin: 0 0.1rem;
    }
}
#sign-up-container form {
    display: flex;
    flex-direction: column;
}
#sign-up-container h1 {
    font-family: "Kanit", sans-serif;
    font-weight: 550;
    font-size: 2rem;
    margin: 0;
}
#sign-up-container label {
    font-family: "Kanit", sans-serif;
    font-weight: 600;
}
#submit-signup {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    background-color: white;
    border: none;
    background-color: #2b3cb7;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: 7rem;
    margin: 0 0 0 1rem;
    text-transform: capitalize;
    color: white;
}
#submit-signup:hover {
    cursor: pointer;
    background-color: #0a1db1;
}
#cancel-signup {
    font-family: "Montserrat", sans-serif;
    font-weight: 650;
    margin: 0.5rem 0 1rem 0;
    color: #712bb7;
    background-color: transparent;
    border: none;
}
#cancel-signup:hover {
    color: #522183;
    cursor: pointer;
}
#player-name {
    width: 15rem;
    height: 1.5rem;
    margin: 1rem auto 1rem auto;
    border: 2px solid rgb(187, 187, 187);
    border-radius: 4px;
    padding: 0 0.3rem 0 0.3rem;
}
#player-name:focus {
    outline: none;
}
#sign-up:target {
    display: inherit;
}
.warning {
    background-color: rgb(255, 183, 162);
    transition: all 0.06s ease-in-out;
}
#warning-message {
    display: none;
}