body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #3245d8;
    max-height: 12rem;
    box-sizing: border-box;
    text-align: center;
    color: white;
    padding: 3.5rem;
}
ul {
    list-style: none;
    padding: 0;
}
/* header */
header h1 {
    margin: 0 0 2vh 0;
    font-family: "Kanit", sans-serif;
    letter-spacing: 0.075rem;
    text-transform: capitalize;
}
header p {
    margin: 0;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1rem;
}
@media (max-width: 480px){
    header {
        padding: 1rem 1.75rem 1.5rem 1.75rem;
    }
    header h1 {
        font-size: 1.75rem;
    }
    header p {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
}
.warning-text {
    color: red;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
}